In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn import model_selection
from sklearn import linear_model
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn import ensemble
from sklearn import tree
from sklearn import svm
from sklearn import neighbors
from sklearn import naive_bayes

In [2]:
columns = ['comprimentoSepal', 'larguraSepal', 'comprimentoPental', 'larguraPental', 'Tipo']
data = pd.read_csv('iris-dataset.csv', names=columns, )

In [3]:
data.head(5)

,comprimentoSepal,larguraSepal,comprimentoPental,larguraPental,Tipo
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [4]:
data.describe()

       comprimentoSepal  larguraSepal  comprimentoPental  larguraPental
count        150.000000    150.000000         150.000000     150.000000
mean           5.843333      3.054000           3.758667       1.198667
std            0.828066      0.433594           1.764420       0.763161
min            4.300000      2.000000           1.000000       0.100000
25%            5.100000      2.800000           1.600000       0.300000
50%            5.800000      3.000000           4.350000       1.300000
75%            6.400000      3.300000           5.100000       1.800000
max            7.900000      4.400000           6.900000       2.500000

In [5]:
print(data.shape)

(150, 5)

In [6]:
print(data.groupby('Tipo').size())

Tipo
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
comprimentoSepal     150 non-null float64
larguraSepal         150 non-null float64
comprimentoPental    150 non-null float64
larguraPental        150 non-null float64
Tipo                 150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

## Separando o Dataset
#### Lembre-se:
###### X = Caracteristicas
###### y = Labels

In [8]:
dataset = data.values
np.random.seed(1)
np.random.shuffle(dataset)

In [9]:
X = dataset[:,:4] # Não entendi muito bem o que ta acontecendo
y = dataset[:,4]  # aqui. (linguagem...) separando as features das labels

In [10]:
n_train = int(round(len(y) * 0.70)) #Achando muito alto nivel
X_train = X[:n_train, :] # separando os datasets....
y_train = y[:n_train]
X_test = X[n_train:,:]
y_test = y[n_train:]

In [11]:
X.shape, y.shape, X_train.shape, y_train.shape, X_test.shape, y_test.shape

((150, 4), (150,), (105, 4), (105,), (45, 4), (45,))

# Criação de modelos

In [12]:
model_sgd = linear_model.SGDClassifier()
model_sgd.fit(X_train, y_train)

/home/lucas/Programas/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
       early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
       l1_ratio=0.15, learning_rate='optimal', loss='hinge', max_iter=None,
       n_iter=None, n_iter_no_change=5, n_jobs=None, penalty='l2',
       power_t=0.5, random_state=None, shuffle=True, tol=None,
       validation_fraction=0.1, verbose=0, warm_start=False)

In [13]:
pred_sgd = model_sgd.predict(X_test)

In [14]:
print('Predição \t -> \tLabel\n')
for i in range (len(y_test)):
    print(pred_sgd[i] + '\t -> \t' + y_test[i])

Predição 	 -> 	Label

Iris-setosa	 -> 	Iris-setosa
Iris-versicolor	 -> 	Iris-versicolor
Iris-setosa	 -> 	Iris-setosa
Iris-setosa	 -> 	Iris-setosa
Iris-virginica	 -> 	Iris-virginica
Iris-virginica	 -> 	Iris-virginica
Iris-virginica	 -> 	Iris-virginica
Iris-setosa	 -> 	Iris-setosa
Iris-setosa	 -> 	Iris-setosa
Iris-virginica	 -> 	Iris-versicolor
Iris-setosa	 -> 	Iris-setosa
Iris-virginica	 -> 	Iris-virginica
Iris-setosa	 -> 	Iris-setosa
Iris-virginica	 -> 	Iris-virginica
Iris-virginica	 -> 	Iris-virginica
Iris-setosa	 -> 	Iris-setosa
Iris-virginica	 -> 	Iris-virginica
Iris-setosa	 -> 	Iris-setosa
Iris-versicolor	 -> 	Iris-versicolor
Iris-setosa	 -> 	Iris-setosa
Iris-versicolor	 -> 	Iris-versicolor
Iris-versicolor	 -> 	Iris-versicolor
Iris-setosa	 -> 	Iris-setosa
Iris-setosa	 -> 	Iris-setosa
Iris-versicolor	 -> 	Iris-versicolor
Iris-setosa	 -> 	Iris-setosa
Iris-versicolor	 -> 	Iris-versicolor
Iris-virginica	 -> 	Iris-versicolor
Iris-setosa	 -> 	Iris-setosa
Iris-versicolor	 -> 	Iris-versicolor
Iris-versicolor	 -> 	Iris-versicolor
Iris-virginica	 -> 	Iris-versicolor
Iris-versicolor	 -> 	Iris-versicolor
Iris-virginica	 -> 	Iris-virginica
Iris-setosa	 -> 	Iris-setosa
Iris-setosa	 -> 	Iris-setosa
Iris-virginica	 -> 	Iris-virginica
Iris-versicolor	 -> 	Iris-versicolor
Iris-virginica	 -> 	Iris-virginica
Iris-versicolor	 -> 	Iris-versicolor
Iris-virginica	 -> 	Iris-virginica
Iris-virginica	 -> 	Iris-virginica
Iris-virginica	 -> 	Iris-versicolor
Iris-virginica	 -> 	Iris-virginica
Iris-setosa	 -> 	Iris-setosa

## Analisando a predição sobre os dados de teste

In [15]:
print(metrics.classification_report(y_test, pred_sgd))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        17
Iris-versicolor       1.00      0.73      0.85        15
 Iris-virginica       0.76      1.00      0.87        13

      micro avg       0.91      0.91      0.91        45
      macro avg       0.92      0.91      0.90        45
   weighted avg       0.93      0.91      0.91        45

## Acurácia sobre os dados de teste

In [16]:
acc = metrics.accuracy_score(y_test, pred_sgd)
acc

0.9111111111111111