# Lista 8 - Iris Dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('iris.data', header=-1)
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [3]:
df.isna().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [4]:
###### Substituindo valores
df[4].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [5]:
label_map = {'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2}
df[4] = df[4].map(label_map)
df.head()

     0    1    2    3  4
0  5.1  3.5  1.4  0.2  0
1  4.9  3.0  1.4  0.2  0
2  4.7  3.2  1.3  0.2  0
3  4.6  3.1  1.5  0.2  0
4  5.0  3.6  1.4  0.2  0

# 1: Importando as m√©tricas implementadas

In [39]:
import metrics
from importlib import reload

reload(metrics);

# 2: Dividindo o dataset

In [7]:
from sklearn.model_selection import train_test_split

In [14]:
X = df.values[:, :-1]
y = df.values[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.9, stratify=y, random_state=42, shuffle=True)

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaler = StandardScaler()
X_train_std = scaler.fit_transform(X_train)
X_test_std = scaler.transform(X_test)

# 3: Criando o modelo

In [17]:
from sklearn.linear_model import LogisticRegression

In [24]:
model = LogisticRegression(multi_class='auto', solver='lbfgs')

model.fit(X_train_std, y_train)
y_pred = model.predict(X_test_std)

(array([0., 0., 0., 0., 1., 0., 1., 2., 0., 2., 1., 0., 0., 1., 0., 0., 0.,
        1., 0., 0., 2., 2., 1., 2., 1., 2., 1., 2., 0., 2., 1., 0., 2., 1.,
        1., 2., 1., 1., 0., 2., 0., 0., 0., 2., 1., 1., 1., 0., 2., 0., 0.,
        0., 2., 0., 2., 1., 1., 1., 0., 1., 0., 1., 1., 0., 2., 2., 0., 0.,
        2., 0., 0., 2., 1., 1., 2., 2., 2., 2., 1., 2., 0., 1., 2., 2., 1.,
        2., 1., 1., 2., 0., 0., 1., 2., 1., 2., 1., 1., 1., 0., 1., 1., 0.,
        2., 1., 2., 0., 2., 0., 2., 1., 1., 2., 0., 2., 1., 2., 2., 0., 0.,
        2., 2., 2., 1., 2., 2., 2., 1., 1., 0., 1., 0., 2., 2., 0., 2.]),
 array([0., 0., 0., 0., 1., 0., 1., 2., 0., 2., 1., 0., 0., 1., 0., 0., 0.,
        1., 0., 0., 2., 1., 1., 2., 1., 2., 1., 2., 0., 2., 1., 0., 2., 1.,
        1., 2., 1., 1., 0., 2., 0., 0., 0., 2., 1., 1., 1., 0., 2., 0., 0.,
        0., 2., 0., 2., 1., 1., 1., 0., 1., 0., 1., 1., 0., 2., 1., 0., 0.,
        2., 0., 0., 2., 1., 1., 2., 2., 2., 2., 1., 2., 0., 2., 1., 1., 1.,
        2., 1., 1., 2., 0., 0., 0., 2., 1., 2., 1., 1., 2., 0., 1., 1., 0.,
        2., 1., 2., 0., 2., 0., 2., 1., 1., 2., 0., 2., 1., 2., 2., 0., 0.,
        2., 2., 2., 1., 2., 2., 2., 1., 1., 0., 1., 0., 2., 2., 0., 2.]))

# 4: Avaliar modelo

In [28]:
metrics.accuracy_score(y_test, y_pred)

0.9481481481481482

In [30]:
metrics.precision_score(y_test, y_pred)

0.9489039329464861

In [38]:
metrics.recall_score(y_test, y_pred)

0.9481481481481482

In [40]:
metrics.f1_measure_score(y_test, y_pred)

0.9485258899951349

# 5: Calcular LogLoss