# WDBC

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
# models
from sklearn.linear_model import Perceptron

In [2]:
df = pd.read_csv('wdbc.data', header=-1)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 32 columns):
0     569 non-null int64
1     569 non-null object
2     569 non-null float64
3     569 non-null float64
4     569 non-null float64
5     569 non-null float64
6     569 non-null float64
7     569 non-null float64
8     569 non-null float64
9     569 non-null float64
10    569 non-null float64
11    569 non-null float64
12    569 non-null float64
13    569 non-null float64
14    569 non-null float64
15    569 non-null float64
16    569 non-null float64
17    569 non-null float64
18    569 non-null float64
19    569 non-null float64
20    569 non-null float64
21    569 non-null float64
22    569 non-null float64
23    569 non-null float64
24    569 non-null float64
25    569 non-null float64
26    569 non-null float64
27    569 non-null float64
28    569 non-null float64
29    569 non-null float64
30    569 non-null float64
31    569 non-null float64
dtypes: float64(30), int64(1), object(1)
memory usage: 142.3+ KB

##### Excluindo coluna ID e Passando o Label para a ultima posição:

In [4]:
df.drop(columns=0, inplace=True)
df.head()

,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,31
0,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [5]:
label = df[1]
df.drop(columns=1, inplace=True)
df['label'] = label
df.head()

,2,3,4,5,6,7,8,9,10,11,...,23,24,25,26,27,28,29,30,31,label
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,M
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,M
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,M
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,M
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,M

In [6]:
df.isna().sum() # Não tem valores faltantes

2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
30       0
31       0
label    0
dtype: int64

In [7]:
df = pd.get_dummies(df ,prefix='label', drop_first=True)
df.head()

,2,3,4,5,6,7,8,9,10,11,...,23,24,25,26,27,28,29,30,31,label_M
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,1
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,1
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,1
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,1
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,1

In [8]:
X = df.values[:, :-1]
y = df.values[:,  -1]

In [9]:
#na verdade é para ser usado o stratfied_shuffle_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, stratify=y, random_state=42)

In [10]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((455, 30), (114, 30), (455,), (114,))

### Usando o GridSearch

In [15]:
parametros = {'estimator__penalty':['None', 'l1', 'l2', 'elasticnet'], 'estimator__alpha':[.000001, .00001, .0001, .001, .01, .1, 1]}

cv = StratifiedKFold(n_splits=3, shuffle=True, random_state=42)

pipeline = Pipeline([('transformer', StandardScaler()), ('estimator', Perceptron(max_iter=1000, tol=1e-3))])

gs = GridSearchCV(pipeline, parametros, cv=cv, scoring='accuracy', iid=True, return_train_score=True)
gs.fit(X_train, y_train);

In [17]:
cols = ['param_estimator__alpha','param_estimator__penalty','mean_train_score','mean_test_score']
pd.DataFrame(gs.cv_results_)[cols].sort_values(by='mean_test_score', ascending=False)

,param_estimator__alpha,param_estimator__penalty,mean_train_score,mean_test_score
6,1e-05,l2,0.976941,0.971429
7,1e-05,elasticnet,0.976941,0.971429
2,1e-06,l2,0.984620,0.964835
3,1e-06,elasticnet,0.984620,0.964835
5,1e-05,l1,0.970373,0.964835
0,1e-06,None,0.985720,0.958242
24,1,None,0.985720,0.958242
4,1e-05,None,0.985720,0.958242
8,0.0001,None,0.985720,0.958242
20,0.1,None,0.985720,0.958242
10,0.0001,l2,0.985728,0.958242
11,0.0001,elasticnet,0.985728,0.958242
12,0.001,None,0.985720,0.958242
16,0.01,None,0.985720,0.958242
1,1e-06,l1,0.985720,0.958242
9,0.0001,l1,0.976945,0.956044
17,0.01,l1,0.967029,0.942857
13,0.001,l1,0.974730,0.934066
14,0.001,l2,0.953832,0.923077
15,0.001,elasticnet,0.953832,0.923077
19,0.01,elasticnet,0.931931,0.905495
18,0.01,l2,0.931931,0.905495
22,0.1,l2,0.813119,0.813187
23,0.1,elasticnet,0.813119,0.813187
21,0.1,l1,0.726156,0.720879
25,1,l1,0.626375,0.626374
26,1,l2,0.541667,0.542857
27,1,elasticnet,0.541667,0.542857

Os melhores modelos foram o Perceptron com alpha=0.00001 usando a penalidade l2 e o mesmo usando a penalidade elasticnet

In [18]:
##### Standartizando os dados para o mododelo
final_scaler = StandardScaler()
X_train_std = final_scaler.fit_transform(X_train)
X_test_std = final_scaler.transform(X_test)

In [19]:
model1 = Perceptron(max_iter = 1000 , tol = 1e-3, penalty='elasticnet', alpha=.00001)
model1.fit(X_train_std, y_train)
y_pred1 = model1.predict(X_test_std)
accuracy_score(y_test, y_pred1)

0.9210526315789473

In [20]:
model2 = Perceptron(max_iter = 1000, tol = 1e-4, penalty='l2', alpha=.0001)
model2.fit(X_train_std, y_train)
y_pred2 = model2.predict(X_test_std)
accuracy_score(y_test, y_pred2)

0.956140350877193

#### Notamos que mesmo usando o dataset de treino inteiro (diferentemente da crossvalidation) ele não conseguiu obter uma acuraccy melhor, ps: o conjunto de teste era maior.