# Pré-processamento

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('exemplo.csv')

In [3]:
df

      A     B     C     D
0   1.0   2.0   3.0   4.0
1   5.0   6.0   NaN   8.0
2  10.0  11.0  12.0   NaN
3   NaN   NaN   NaN   NaN
4  17.0  18.0  19.0  20.0

In [4]:
df.isna()

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True
3   True   True   True   True
4  False  False  False  False

## Valores Faltantes

In [5]:
df.isnull()

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True
3   True   True   True   True
4  False  False  False  False

In [6]:
# df.isnull().sum()
df.isna().sum()

A    1
B    1
C    2
D    2
dtype: int64

## Eliminar amostras com valores faltantes

In [7]:
# df.dropna(axis=0, inplace=True) # altera o dataframe original
df.dropna(axis=0)

      A     B     C     D
0   1.0   2.0   3.0   4.0
4  17.0  18.0  19.0  20.0

In [8]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [9]:
# df.dropna(how='all') #elimina a linha que possui todos os valos faltantes

In [10]:
df.dropna(thresh=2) # se existirem dois valores na linha ou coluna (axis=1) ele vai dropar

      A     B     C     D
0   1.0   2.0   3.0   4.0
1   5.0   6.0   NaN   8.0
2  10.0  11.0  12.0   NaN
4  17.0  18.0  19.0  20.0

In [12]:
df.dropna(subset=['C']) # se existir valores nan na coluna c de uma determinada linha, essa linha vai ser deletada

      A     B     C     D
0   1.0   2.0   3.0   4.0
2  10.0  11.0  12.0   NaN
4  17.0  18.0  19.0  20.0

In [13]:
df.drop(labels = ['A','C'], axis = 1) # deleta as colunas A e C
df.drop(labels = [1, 2]) # deleta as linhas 1 e 2

      A     B     C     D
0   1.0   2.0   3.0   4.0
3   NaN   NaN   NaN   NaN
4  17.0  18.0  19.0  20.0

## Assinalar valores aos faltantes

In [14]:
from sklearn.preprocessing import Imputer

In [16]:
df

      A     B     C     D
0   1.0   2.0   3.0   4.0
1   5.0   6.0   NaN   8.0
2  10.0  11.0  12.0   NaN
3   NaN   NaN   NaN   NaN
4  17.0  18.0  19.0  20.0

In [17]:
df_ = df.dropna(how='all') #a linha trez ta bichada e precisa ser deletada

In [19]:
#Existem diversas estratégias... o mais osados serão mean(média) e o most_frequent
prep = Imputer(missing_values='NaN', strategy='mean', axis=0) #Aqui, nessa ocasião o eixo 0 é coluna e 1 é linha
prep = prep.fit(df_)
dados = prep.transform(df_)
dados

array([[ 1.        ,  2.        ,  3.        ,  4.        ],
       [ 5.        ,  6.        , 11.33333333,  8.        ],
       [10.        , 11.        , 12.        , 10.66666667],
       [17.        , 18.        , 19.        , 20.        ]])

In [20]:
#falta instalar a dependencia para ler arquivos ods -- Estou sem internet: conda instal ods
df2 = pd.read_excel('exemplo.ods')

XLRDError: Openoffice.org ODS file; not supported

In [21]:
tam = {'M':1, 'L':2, 'XL':3}

In [ ]:
#Crinado um dicionário invertido
tam_inv = { v:k for k, v in tam.items()}
tam_inv

In [ ]:
df2['size'] = df2['size'].map(tam)